/* Adobe kleuren
Donkerblauw:
#040DBF

blauw:
#0711D9

lichtblauw:
#5259D9

lichtpaars:
#A7ABF2

wit:
#F0F1F2 

grijs:
#4d4d4d*/




body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #F0F1F2;
  background-color: #F0F1F2;
  font-size: 14px;
}

.mobielnav {
  width: 100%;
  height: auto;
  display: none;
  overflow: hidden;
  background-color: #4d4d4d;
  position: relative;
}

.mobielnav #items {
  height: 0px;
}

.mobielnav a {
  color: #F0F1F2;
  padding: 20px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.mobielnav a.icon {
  background-color: #4d4d4d;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.mobielnav .logobar {
  background-color: #5259D9;
  color: #F0F1F2;
}

nav {
  box-shadow: 0px 0px 6px #2b2b2b;
  background-color: #4d4d4d;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

nav li {
  display: inline;
  padding: 0 20px;
  transition: background-color 0.5s;
}

nav li:hover {
  background-color: #5259D9;
  margin: 0;
}

nav li a {
  display: block;
  color: #F0F1F2;
  text-align: center;
  text-decoration: none;
}

.container {
  display: flex;
  margin: 5vw 5vh;
  box-shadow: 0px 0px 6px #2b2b2b;
}

/* zijbalk */
.zijbalk {
  display: block;
  background: #5259D9;
  position: relative;
  left: 0vw;
  width: 25%;
  height: 100%;
  min-height: 800px;
}

.zijbalk .hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #F0F1F2;
  margin: 10px 15px;
  padding: 0;
}

.zijbalk h1 {
  /* text-shadow: 0px 2px 3px #2b2b2b; */
  color: #F0F1F2 ;
}

.zijbalk h3 {
  color: #4d4d4d;
}

.zijbalk a {
  color: #fff;
  text-decoration: none;
}

.zijbalk ul {
  list-style-type: none;
}

/* Fotoblokje */
.fotoblok {
  background-color: #A7ABF2;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fotoblok h1 {
  text-shadow: none;
  color: #2b2b2b;
}

.profielfoto {
  box-shadow: 0px 0px 6px #2b2b2b;
  border-radius: 50%;
  height: 80%;
  width: 80%;
}

/* opleidingblok */
.opleidingblok {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

}

.opl {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.opl h3,
.int h3 {
  
  color: #A7ABF2;
}

.opl h3,
h4,
h5 {
  font-family: 'Ubuntu', sans-serif;
  margin: 10px 0;
  color: #c3c5e7;
}

/* Interesseblokje */
.interesseblok {
  margin-right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.int {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* skillblokje */
.skillblok {
  margin-right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skill {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: 'Ubuntu', sans-serif;
}

/* contactblokje  */
.contactblok {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.contactblok ul {
  font-family: 'Oswald', sans-serif;
  justify-self: flex-start;
  font-size: 36px;
  margin: 0;
  padding: 30px 30px;
}

.contactblok li {
  margin: 10px;
  display: inline;
}

/* Resume begint vanaf hier */

.resume {
  display: flex;
  flex-direction: column;
  color: #2b2b2b;
  width: 75%;
  background-color: #F0F1F2;
  padding: 5%;
}

.resume p {
  color: #2b2b2b;
}

.blauwebalk {
  background-color: #5259D9;
  padding: 5px 10px;
  color: #F0F1F2;
  margin: 10px 0;
  border-radius: 10px;
}

.resume h1 {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
  margin: 0;
}

.resume .hr {
  border-top: 2px solid #2b2b2b;
  margin-left: 0;
}

.beschrijving,
.werkervaring {
  margin: 5% 0;
}

.werkervaring h1 {
  text-align: end;
}

.hardsk {
  display: flex;
  flex-direction: column;
}

.skillbalk {
  height: 20px;
  margin: 20px 0;
  border-radius: 10px;
  background-color: #4d4d4d;
}

.skillload {
  display: flex;
  text-align: center;
  color: #F0F1F2;
  height: 20px;
  width: 0%;
  border-radius: 10px;
  background-color: #5259D9;
  align-items: center;
  justify-content: center;
}


/* telefoon opmaak */
@media only screen and (max-width: 600px) {

  .zijbalk,
  .container,
  .resume {
    width: 100%;
  }

  .container {
    margin: 0;
    flex-direction: column;
  }

  .resume {
    padding: 0;
  }

  .beschrijving,
  .werkervaring,
  .hardskills {
    margin: 10px;
  }

  nav {
    display: none;
  }

  .mobielnav {
    display: block;
  }
}

