body{
    font-family: 'Roboto',Verdana;
    background-color: #3d3f58;
    color: #fff;
}

.MijnMuziek{
    color: #e3ac15;
}

a{
    color: #fff;
}

.lijst a:hover{
    font-size: 18px;
    text-decoration: none;
}

.lijst{
    margin: 0  0 0 5%;
}

.navigatiebar{
    padding: 2%;
}

.navigatiebar a{
    border: 1px solid #ffff;
    border-radius: 5px;
    text-decoration: none;
    margin: 1%;
    padding: 1%;
}

.navigatiebar a:hover{
    border: 1px solid #e3ac15;
    color: #e3ac15;
}